@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Open+Sans&family=Orbitron&display=swap");

:root {
  --color-primary: rgb(28, 13, 121);
  --color-secondary: rgb(49, 109, 200);
  --color-tertiary: rgb(35, 143, 107);
  --color-light: rgb(137, 174, 255);
  --color-dark: #080808;
  --color-white: rgb(245, 245, 245);
  --color-danger: rgb(200, 62, 49);
  --color-success: rgb(49, 200, 62);
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Lora", serif;
  --fs-h1: 3.1rem;
  --fs-h2: 2.3rem;
  --fs-h3: 1.7rem;
  --fs-h4: 1.3rem;
  --fs-p: 1rem;
  --fs-text-small: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.logo {
  width: 70px;
  display: inline-block;
}

.iphone-x {
  margin: 40px auto;
  height: 85vh;
  width: 24vw;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919,
    0px 0px 0px 20px #111;
  overflow-y: auto;
}

.iphone-x::-webkit-scrollbar {
  display: none;
}
